# .env file is used for shell tools to supply environment variables for the project

# !!! Do not put spaces before or after '=', use double quotes for every value containing spaces !!!

GIT_USERNAME=                      # example: "John Sheetman"
GIT_EMAIL=                         # example: mail@mail.mail    (must match `GIT_GPG_KEY` email value if specified)
GIT_GPG_PROGRAM=                   # example: /usr/bin/gpg      (use `which gpg`)
GIT_GPG_KEY=                       # example: AB1C23EF          (use `gpg --list-secret-keys --keyid-format SHORT`)
                                   # use `gpg --full-generate-key` to generate a new GPG key for your user

DOCKER_REGISTRY_ADDR=              # used to properly tag images, example: "registry.myorganization.com"
